* ¨{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2? family= Arbutus+Slab & display=swap');


body {
    background-color: black ;
}

header {
    border-bottom: 1px solid #fca311;
    text-align: center;
    padding: 30px 40px;
}

.logo {
    width: 150px;
}



  .bg-custom {
    background-color: #fca311; 
    color:black; 
  }

   

.menu {
    text-decoration: none;
    color: #fca311;
    list-style-type: none;
    list-style: none;
    text-transform: uppercase;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem; 
}
 





.titulo {
    font-family: 'Arbutus Slab', serif;
    color: #fca311;;
    font-size: 56px;
    text-align: center;
    
}

.imagenprincipal {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;  
}

.quienes-somos {
    font-family:'Arbutus Slab', serif ;
    text-align: center;
    color: #EDAE49;
    
}

.parrafoquienessomos {
    font-family:'Arbutus Slab', serif ;
    color: white;

}

.quenosdistingue {
    font-family:'Arbutus Slab', serif ;
    color: #EDAE49;
    text-align: center;
}

.parrafosquenosdistingue {
    color:white;
    font-family:'Arbutus Slab', serif ;
}


.seccion-presentacion {
    color: #EDAE49;

}
main {
    padding: 40px;
}

/*servicios*/

.tarjetitas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    
    

}

.tituloservicios { 
    font-family:'Arbutus Slab', serif ;
    text-align: center;
    color:#EDAE49
}
.tituloservicios:hover {
    transform: scale(2);
}

 
.serviciotecnico {
    margin-top: 50px;
    width: 300px;
    background-color:#EDAE49;
    padding: 10px;
    border-radius: 10px;
    display:grid;
    margin-inline: 20px;
    
    
}

.imagenserviciotecnico {
    width: 100%;
}

.tituloserviciotecnico {
    font-size: 36px;
    text-align: center;


}

.parrafoserviciotecnico {
    font-size: 24px;
    text-align: center;

}


.ventadeequipos {
    margin-top: 50px;
    width: 300px;
    background-color:#EDAE49;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    margin-inline: 20px;
    
   
}
.imagendeventadeequipos {
    width: 100%;
}


    




.tituloventadeeqipos {
    font-size: 36px;
    text-align: center;

}
.parrafoventadeequipos {
    font-size: 24px;
    text-align: center;

}

.enviosexpress {
    margin-top: 50px;
    width: 300px;
    background-color:#EDAE49;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    margin-inline: 20px;

}

.imagenenvioexpress {
    width: 100%;
}

.tituloenvioexpress {
    font-size: 36px;
    text-align: center;
}

.parrafoenvioexpress {
    font-size: 24px;
    text-align: center;
}




/*sucursal*/
.subtitulosucursal {
    text-align: center;
    color:#EDAE49;
    font-family:'Arbutus Slab', serif;

}

.mapasucursal {
    display: flex;
    justify-content: center;
}

.parrafosucursal {
    text-align: center;
    color:#EDAE49;
    font-family:'Arbutus Slab', serif;

}




/*style preguntas frecuentes*/

main h1 {
    font-family: 'Arbutus Slab', serif;
    color: #EDAE49;
    font-size:36px ;
    text-align: center;
    
    
}

.imagenpreguntasfrecuentes {
    display: flex;
    justify-items: center;
    width:50%;
    margin: 20px 20px;
}

.cards {
  display: flex;
  gap: 1rem;


}

.garantia {
    background-color: #EDAE49;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-align: center;

}
.demoradelserviciotecnico {
    background-color: #EDAE49;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-align: center;
}

.realizanenvios{
    background-color: #EDAE49;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-align: center;
}

/*contactos*/

.section-title {
    font-family: 'Arbutus Slab', serif ;
    text-align: center;
    color:#EDAE49
}

.form-grup {
    display: flex;
    flex-direction: column;

}


.imagenpreguntasfrecuentes {
width: 100%;
margin: 0;
padding: 0;
padding-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;


}
/*footer*/

.footer {
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color: #403d39;
    padding: 1rem;
    color: #EDAE49;
}





@media (max-width:767px) {
    .tarjetitas {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}




















