.sectionsucursal {

    .subtitulosucursal {
        text-align: center;
        color:$colorprincipal;
        font-family:'Arbutus Slab', serif;
    
    }

    .mapasucursal {
        display: flex;
        justify-content: center;
    }


    .parrafosucursal {
        text-align: center;
        color:$colorprincipal;
        font-family:'Arbutus Slab', serif;
    
    }
    
    



}